<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/static/stylesheets/part.css' />
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
  </head>
  <body>

    <div id="particles-js"></div>
    <ul class="fly-in-text hidden">
      <li>B</li>
      <li>L</li>
      <li>A</li>
      <li>C</li>
      <li>K</li>
      <li>R</li>
      <li>O</li>
      <li>O</li>
      <li>T</li>
    </ul>
  <script src="/static/javascripts/par-conf.js"></script>
  <script type="text/javascript">
    $(function(){
      setTimeout(function(){
        $(".fly-in-text").removeClass('hidden');
      },200);
    }
    );
  </script>
  </body>
</html>
